<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <delivery>
            <general>
                <enabled>1</enabled>
            </general>
            <api_provider>
                <provider>here</provider>
            </api_provider>
            <truck_settings>
                <vehicle_height>4.0</vehicle_height>
                <vehicle_width>2.55</vehicle_width>
                <vehicle_length>16.5</vehicle_length>
                <vehicle_weight>40000</vehicle_weight>
                <vehicle_axle_weight>10000</vehicle_axle_weight>
                <vehicle_axle_count>5</vehicle_axle_count>
                <vehicle_type>straightTruck</vehicle_type>
            </truck_settings>
        </delivery>
        <carriers>
            <customshipping>
                <active>0</active>
                <model>GardenLawn\Delivery\Model\Carrier\CustomShipping</model>
                <title>Custom Shipping</title>
                <name>Custom Shipping (External Quotes)</name>
                <sort_order>10</sort_order>
            </customshipping>
            <customfreeshipping>
                <active>0</active>
                <model>GardenLawn\Delivery\Model\Carrier\CustomFreeShipping</model>
                <title>Free Shipping</title>
                <name>Free Shipping for Selected Products</name>
                <products_sku></products_sku>
                <sort_order>20</sort_order>
            </customfreeshipping>
            <couriershipping>
                <active>0</active>
                <model>GardenLawn\Delivery\Model\Carrier\CourierShipping</model>
                <title>Courier Shipping</title>
                <name>Courier Delivery</name>
                <target_sku>trawa-w-rolce</target_sku>
                <prices_table></prices_table>
                <price_supplement>0</price_supplement>
                <sort_order>30</sort_order>
            </couriershipping>
            <courierwithelevatorshipping>
                <active>0</active>
                <model>GardenLawn\Delivery\Model\Carrier\CourierWithElevatorShipping</model>
                <title>Courier with Elevator</title>
                <name>Courier Delivery with Elevator Service</name>
                <target_sku>trawa-w-rolce</target_sku>
                <price>0</price>
                <factor_min>1</factor_min>
                <factor_max>1.5</factor_max>
                <max_load>100</max_load>
                <sort_order>40</sort_order>
            </courierwithelevatorshipping>
            <distanceshipping>
                <active>0</active>
                <model>GardenLawn\Delivery\Model\Carrier\DistanceShipping</model>
                <title>Distance-based Shipping</title>
                <name>Distance-based Delivery</name>
                <target_sku>trawa-w-rolce</target_sku>
                <points></points>
                <prices_table></prices_table>
                <price_supplement>0</price_supplement>
                <base_km>1</base_km>
                <sort_order>50</sort_order>
            </distanceshipping>
        </carriers>
    </default>
</config>
